# Runtime database journals are recreated by SQLite and are not needed to restore.
storage/database/*.sqlite-wal
storage/database/*.sqlite-shm
storage/attachments/*
!storage/attachments/.gitkeep
writeable/

# Logs
error_log
**/error_log
*.log

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.swp
